<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header4.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="logo" src="assets/img/logo.png" alt="">
              <h3>By students for students</h3>
          </div>
      </div>
  </div>

  <div class="main">

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">About</h2>
                      <h5 class="description">De Studentenraad is een organisatie die ontstaan is voor de studenten.
                          Wij helpen de rechten van de studenten te verdedigen in de verschillende organen van de hogeschool.
                          Op elk departement zijn er 4 studentenvertegenwoordigers gekozen voor deze job aan te gaan.
                          Wij ijveren naar verbetering en goede wil van de studenten.
                      </h5>
                  </div>
              </div>
          </div>
      </div>

      <div class="section">
          <div class="container text-center">
              <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Knowledges</h2>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col">
                      <h3 class="title">Listening</h3>
                      <h5 class="description">Some text</h5>
                  </div>
                  <div class="col">
                      <h3 class="title">Discussion</h3>
                      <h5 class="description">Some text</h5>
                  </div>
                  <div class="col">
                      <h3 class="title">Creativity</h3>
                      <h5 class="description">Some text</h5>
                  </div>
              </div>
          </div>
      </div>

      <div class="section" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container text-center">
              <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Folluw us !</h2>
                      <div class="container">
                          <div class="row justify-content-around">
                              <div class="col">
                                  <div class="social-line">
                                      <a href="#" class="btn btn-neutral btn-facebook btn-icon btn-round" style="border-radius: 60px !important;">
                                          <i class="fa fa-facebook-square"></i>
                                      </a>
                                  </div>
                              </div>
                              <div class="col"><div class="social-line">
                                  <a href="#" class="btn btn-neutral btn-instagram btn-icon btn-round" style="border-radius: 60px !important;">
                                      <i class="fa fa-instagram"></i>
                                  </a>
                              </div></div>
                              <div class="col"><div class="social-line">
                                  <a href="#" class="btn btn-neutral btn-twitter btn-icon btn-round" style="border-radius: 60px !important;">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </div></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
          </a>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>
